#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_install:
ifeq ($(DEB_HOST_ARCH),amd64)
	dh_install \
	-Xarm-linux \
	-Xi386-linux \
	-Xpowerpc-linux \
	-Xsparc-linux
endif
ifeq ($(DEB_HOST_ARCH),armel)
	dh_install \
	-Xx86_64-linux \
	-Xi386-linux \
	-Xpowerpc-linux \
	-Xsparc-linux
endif

override_dh_strip:
override_dh_shlibdeps:
